<body data-home-page="Casa.html" data-home-page-title="Casa" class="u-body">
  {{>nav}}

  <section class="u-align-center u-clearfix u-white u-section-6" id="carousel_1c0e">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-palette-2-base u-shape u-shape-rectangle u-shape-1"></div>
      <div class="u-clearfix u-gutter-40 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-align-center u-container-style u-layout-cell u-size-30 u-white u-layout-cell-1">
              <div
                class="u-container-layout u-valign-bottom-lg u-valign-bottom-md u-valign-bottom-xl u-container-layout-1">
                <img class="u-expanded-width u-image u-image-contain u-image-default u-image-1" src="/img/IMG_2825.JPG"
                  alt="" data-image-width="1200" data-image-height="1100">
              </div>
            </div>
            <div class="u-align-left u-container-style u-grey-5 u-layout-cell u-radius-10 u-size-30 u-layout-cell-2">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h1 class="u-custom-font u-font-montserrat u-text u-text-palette-2-base u-text-1">ORIGEN DE VIDA
                  NATURAL <br>
                </h1>
                <p class="u-text u-text-2">Vocablo de la tribu AMAZÓNICA MAKU
                </p>
                <a href="https://wa.me/3112378158"
                  class="u-active-grey-90 u-border-none u-btn u-btn-round u-button-style u-hover-grey-90 u-palette-2-base u-radius-8 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-2"><span
                    class="u-icon u-icon-1"><svg class="u-svg-content" viewBox="0 0 330 330" x="0px" y="0px"
                      style="width: 1em; height: 1em;">
                    </svg><img></span>&nbsp;Contactanos WhatsApp
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-white u-section-6" id="carousel_1c0e">
    {{>galeria}}
  </section>
  <section class="u-align-center u-clearfix u-grey-5 u-section-2" id="sec-56a8">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div
        class="u-align-left u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1">
        <div
          class="u-container-layout u-valign-middle-lg u-valign-middle-xl u-valign-top-md u-valign-top-sm u-valign-top-xs u-container-layout-1">
          <h1 class="u-text u-text-palette-2-base u-text-1"> NUESTRA EMPRESA</h1>
          <p class="u-text u-text-2"> Experiencia en el mercado de alimentos de consumo
            masivo en Colombia, con nuestros productos
            elaborados con frutales exóticos nativos de la
            amazonia,trabajando con criterios de biocomercio.
          </p>
          <a href="/CatalogoProductos"
            class="u-active-palette-2-dark-3 u-border-none u-btn u-btn-round u-button-style u-custom-font u-font-montserrat u-hover-palette-2-dark-3 u-palette-2-base u-radius-8 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-1">Catalogo
            de Productos</a>
        </div>
      </div>
      <div
        class="u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gutter-18 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-size-30">
              <div class="u-layout-col">
                <div
                  class="u-align-center u-container-style u-layout-cell u-radius-10 u-size-40 u-white u-layout-cell-1">
                  <div class="u-container-layout u-valign-top u-container-layout-2"><span
                      class="u-icon u-icon-circle u-opacity u-opacity-55 u-palette-2-light-2 u-spacing-18 u-text-palette-2-base u-icon-1"><svg
                        class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-68b1"></use>
                      </svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-68b1"
                        style="enable-background:new 0 0 512 512;">
                        {{!-- ICONO --}}
                      </svg></span>
                    <h3 class="u-text u-text-default u-text-palette-2-base u-text-3"> Mermeladas</h3>
                    <p class="u-text u-text-palette-5-dark-2 u-text-4">La mermelada es un producto pastoso
                      obtenido por cocción y concentración de pulpa
                      , adecuadamente preparado con
                      pectina y sacarosa como edulcorante,
                      ligeramente ácido y con agradable aroma
                      proporcionados por los frutos amazonicos utilizados.
                    </p>
                  </div>
                </div>
                <div
                  class="u-align-center u-container-style u-layout-cell u-radius-10 u-size-20 u-white u-layout-cell-2">
                  <div class="u-container-layout u-valign-top u-container-layout-3"><span
                      class="u-icon u-icon-circle u-opacity u-opacity-55 u-palette-2-light-2 u-spacing-18 u-text-palette-2-base u-icon-2"><svg
                        class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0413"></use>
                      </svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-0413">
                        {{!-- ICONO --}}
                      </svg></span>
                    <h3 class="u-text u-text-default u-text-palette-2-base u-text-5"> Pulpas</h3>
                    <p class="u-text u-text-palette-5-dark-2 u-text-6">Producto pastoso, no diluido ni concentrado ni
                      fermentado, obtenido a partir de frutas frescas,
                      sanas y limpias.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-30">
              <div class="u-layout-col">
                <div
                  class="u-align-center u-container-style u-layout-cell u-radius-10 u-size-20 u-white u-layout-cell-3">
                  <div class="u-container-layout u-valign-top u-container-layout-4"><span
                      class="u-icon u-icon-circle u-opacity u-opacity-55 u-palette-2-light-2 u-spacing-18 u-text-palette-2-base u-icon-3"><svg
                        class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style="">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-e131"></use>
                      </svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-e131">
                        {{!-- ICONO --}}
                      </svg></span>
                    <h3 class="u-text u-text-default u-text-palette-2-base u-text-7"> Confites </h3>
                    <p class="u-text u-text-palette-5-dark-2 u-text-8">Productos de estructura amorfa, obtenidos de la
                      cocción de una solución de pulpa de diversos frutos amazonicos y
                      sacarosa o azúcar invertido.</p>
                  </div>
                </div>
                <div
                  class="u-align-center u-container-style u-layout-cell u-radius-10 u-size-40 u-white u-layout-cell-4">
                  <div class="u-container-layout u-valign-top u-container-layout-5"><span
                      class="u-icon u-icon-circle u-opacity u-opacity-55 u-palette-2-light-2 u-spacing-18 u-text-palette-2-base u-icon-4"><svg
                        class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 24 24" style="">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-943c"></use>
                      </svg><svg class="u-svg-content" viewBox="0 0 24 24" id="svg-e131">
                      </svg></span>
                    <h3 class="u-text u-text-default u-text-palette-2-base u-text-9"> Conservas</h3>
                    <p class="u-text u-text-palette-5-dark-2 u-text-10">Es el proceso de la manipulación de los
                      alimentos de tal forma que se evite o ralentice su deterioro (pérdida de calidad, comestibilidad o
                      valores nutricionales ).</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-grey-5 u-section-3" id="carousel_56ed">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1">
      <div class="u-absolute-hcenter-xs u-expanded-height u-palette-2-base u-shape u-shape-rectangle u-shape-1"></div>
      <img class="u-image u-image-1" src="/img/Tarjeta de presentación Gloria Elsy Angel Hurtado.png"
        data-image-width="1000" data-image-height="857">
      <div class="u-align-left u-container-style u-group u-radius-15 u-shape-round u-white u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h3 class="u-custom-font u-font-montserrat u-text u-text-palette-2-base u-text-1">Contactanos</h3>
          <p class="u-text u-text-2">Cel. +57 ( 311 ) 237-8158 - Tel. 436-5050
          </p>
          <p class="u-align-left u-text u-text-3">mukatrisas2021@gmail.com <a
              href="https://www.facebook.com/Mukatri-es-Caquet%C3%A1-103296704751071"
              class="u-border-1 u-border-black u-btn u-button-link u-button-style u-none u-text-body-color u-btn-2">@Mukatri</a>
          </p>
        </div>
      </div>
      <div class="u-palette-2-light-1 u-shape u-shape-circle u-shape-2"></div>
    </div>
  </section>
  {{!-- TESTIMONIALS --}}

  {{>mapGoogle}}


  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-c677">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">
        © 2021 @Mukatri SAS - Todos los derechos reservados.
      </p>
    </div>
  </footer>


</body>