<body data-home-page="Casa.html" data-home-page-title="Casa" class="u-body">
  {{>nav}}
  <center>
    <img src="/docs/Ficha técnica Mermelada de araza/Ficha técnica Mermelada de araza_002.png" alt="MermeladaAraza" style="width: 90%;">
  </center>

  {{!-- TESTIMONIALS --}}
  <center>
    <a class="urlDownload" href="/docs/Ficha técnica Mermelada de araza/Ficha técnica Mermelada de araza.pdf"
      download="Ficha técnica Galletas de Araza">
      Descargar Archivo PDF
    </a>
  </center>
  <br>

  {{>mapGoogle}}

  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-c677">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">
        © 2021 @Mukatri SAS - Todos los derechos reservados.
      </p>
    </div>
  </footer>


</body>