<body data-home-page="Casa.html" data-home-page-title="Casa" class="u-body">
  {{>nav}}
  <center>
    <img src="/docs/Precios mayoristas/Precios mayoristas._001.png" alt="PreciosMukatri" style="width: 90%;">
    <br>
    <img src="/docs/Precios mayoristas/Precios mayoristas._002.png" alt="PreciosMukatri" style="width: 90%;">
    <br>
    <img src="/docs/Precios mayoristas/Precios mayoristas._003.png" alt="PreciosMukatri" style="width: 90%;">
    <br>
    <img src="/docs/Precios mayoristas/Precios mayoristas._004.png" alt="PreciosMukatri" style="width: 90%;">
    <br>
    <img src="/docs/Precios mayoristas/Precios mayoristas._005.png" alt="PreciosMukatri" style="width: 90%;">
    <br>
  </center>

  {{!-- TESTIMONIALS --}}
  <center>
    <a class="urlDownload" href="/docs/Precios mayoristas/Precios mayoristas..pdf"
      download="Precios mayoristas">
      Descargar Archivo PDF
    </a>
  </center>
  <br>

   {{>mapGoogle}}


  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-c677">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">
        © 2021 @Mukatri SAS - Todos los derechos reservados.
      </p>
    </div>
  </footer>


</body>